<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Register</title>
</head>
<body>
    <nav>
        <%- include('../partials/header-navbar.ejs') %>
        <a href='/login'>Login</a>
    </nav>
    <h2>New User</h2>
    <form action="/register" method="POST">
        Username: <input type="text" name="username" required /><br>
        <!-- Location: <input type="text" name="location" required /><br> -->
        Location: <select name="location">
            <% for(eachState of statesArray) { %> 
                <option value="<%=eachState%>"><%=eachState%></option>
                <% } %> 
            </select> <br>
            
            Political Affiliation: <input type="text" name="politicalAffiliation" /><br>
            Email: <input type="text" name="email"  required /><br>
        Password: <input type="password" name="password" required />
        <input type="submit" value="Create User">
    </form>
    <%- include('../partials/testfooter.ejs') %>
</body>
</html>