<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Edit Tool</title>
</head>
<body>
    <div class="display-area">
        <%- include('../partials/header-navbar.ejs') %>
        <section class="corkboard">
            <%- include('../partials/postit-image.ejs', {title: 'Edit a Tool'}) %>
            <div class="form-container">
                <form action="/tools/<%=oneTool._id%>?_method=PUT"  method="post" class='form'>
                    <p>
                        Name: <input type="text" name="name" value="<%=oneTool.name%>" required />
                    </p>
                    <p>
                        Link: <input type="url" name="link" value="<%=oneTool.link%>" required />
                    </p>
                    <p>
                        Description: <input type="text" name="description" value="<%=oneTool.description%>" />
                    </p>
                    <p>
                        Notes: <input type="text" name="notes" value="<%=oneTool.notes%>" />
                    </p>
                    <p>
                        Keywords: <input type="text" name="keywords" value="<%=oneTool.keywords%>" />
                    </p>
                    <p>
                        Categories:
                        <ul class='categories-ul'>
                            <% for(eachCat of allCats){ %> 
                                <li class='form-li'>
                                    <input type="checkbox" name="category_<%= eachCat._id %>"
                                        <% if(oneTool.categories.includes(String(eachCat._id))){ %>
                                            checked
                                        <% } %> 
                                    /><%= eachCat.name %> 
                                </li>
                            <% } %> 
                        </ul>
                    </p>
                    <p>
                        <input type="submit" value="Apply Changes" class='submit-button' />
                    </p>
                </form>
            </div>
        </section>
    </div>
</body>
</html>
