<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Tool Index</title>
</head>
<body>
    <%- include('../partials/header-navbar.ejs') %>
    <h2>Tools Index page</h2>
    <ul>
        <% allTools.forEach(tool => { %> 
            <li>
                <a href="/tools/<%=tool._id%>">
                    <%= tool.name %>                 
                </a>
            </li>
        <% }) %> 
    </ul>
    <%- include('../partials/testfooter.ejs'); %>
</body>
</html>
