<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>New Tool Page</title>
</head>
<body>
    <div class="display-area">
        <%- include('../partials/header-navbar.ejs') %>
        <section class="corkboard">
            <div class="postit-image">
                <h2>Add a New Tool</h2>
            </div>
            <div class="form-container">
                <form action="/tools/<%if(catId){%><%=catId%><%}%>"  method="post" class='form'>
                    <p>
                        Name: <input type="text" name="name" placeholder='Tool name' required /> 
                    </p>
                    <p>
                        Link: <input type="text" name="link" placeholder='Paste URL here' required />
                        <!-- Link: <input type="URL" name="link"><br> -->
                        <!-- use this Link line in production -->
                    </p>
                    <p>
                        Description: <textarea type= 'text' name='description' placeholder='Add a description...'></textarea>
                    </p>
                    <p>
                        Notes: <textarea type= 'text' name='notes' placeholder='How/when to use this tool...'></textarea>
                    </p>
                    <!-- Key Words will be added to forthcoming version -->
                    <!-- <p>
                        Keywords: <input type="text" name="keywords" placeholder='Make your tool easier to find...' />
                    </p> -->
                    <p>
                        Categories: 
                        <ul>
                            <% for(eachCat of allCats){ %> 
                                <li>
                                    <input type="checkbox" name="category_<%= eachCat._id %>"
                                        <% if(String(eachCat._id) === catId){ %>
                                            checked
                                        <% } %> 
                                    /> <%= eachCat.name %>
                                </li>
                            <% } %> 
                        </ul>
                    </p>
                    <p>
                        <input type="submit" value="Add Tool" class='submit-button'>
                    </p>
                </form>
            </div>
        </section>
    </div>
</body>
</html>
