<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>New Tool Page</title>
</head>
<body>
    <%- include('../partials/header-navbar.ejs') %>
    <h2>Make New Tool</h2>
    <form action="/tools/<%if(catId){%><%=catId%><%}%>"  method="post">
        Name: <input type="text" name="name"><br>
        Link: <input type="text" name="link"><br>
        <!-- Link: <input type="URL" name="link"><br> -->
        <!-- use this Link line in production -->
        Description: <input type="text" name="description"><br>
        Notes: <input type="text" name="notes"><br>
        Keywords: <input type="text" name="keywords"><br>
        Categories: <ul>
            <% for(eachCat of allCats){ %> 
                <li>
                    <input type="checkbox" name="category_<%= eachCat._id %>"
                        <% if(String(eachCat._id) === catId){ %>
                            checked
                        <% } %> 
                    /> <%= eachCat.name %>
                </li>
            <% } %> 
        </ul>


        <input type="submit" value="Create">
    </form>
    <%- include('../partials/testfooter.ejs') %>
</body>
</html>
