<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Show Tool</title>
</head>
<body>
    <%- include('../partials/header-navbar.ejs') %>
    <h2>Show Tool</h2>
    Name: <%= oneTool.name %> <br>
    Link: <%= oneTool.link %> <br>
    Description: <%= oneTool.description %> <br>
    Notes: <%= oneTool.notes %> <br>
    Keywords: <%= oneTool.keywords %> <br>
    Categories: <ul>
        <% for(eachCat of oneTool.categories){ %> 
            <li>
                <%= eachCat.name %> 
            </li>
        <% } %> 
    </ul>
    <br>
    <form action="/tools/<%=oneTool._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Tool">
    </form>
    <br>
    <a href="/tools/<%=oneTool._id%>/edit">Edit Tool</a>
    <br>
    <%- include('../partials/testfooter.ejs'); %>
</body>
</html>
