<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="/scripts/app.js" defer></script>
    <%- include('partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Toolodex</title>
</head>
<body>
    <div class='display-area'>
        <section class='header'>
            <%- include('partials/header-navbar.ejs') %>
        </section>
        <section class='corkboard'>
            <h2>Your Categories</h2>
            <div class='post-its'>
                <% categories.forEach(category => { %>
                    <a href="/categories/<%= category._id %>" class='category-name'>
                        <div class="category tile">
                            <%= category.name %>
                        </div>
                    </a>
                    <!-- <div class="category tile">
                        <a href="/categories/<%= category._id %>" class='category-name'><%= category.name %></a>
                    </div> -->
                <% }) %>
                <a href="/categories/new">
                    <div class="add-category tile">
                        +
                    </div>
                </a>
                <!-- <div class="add-category tile">
                    <a href="/categories/new">+</a>
                </div> -->
            </div>
        </section>
    </div>
</body>
</html>
