<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="/scripts/app.js" defer></script>
    <%- include('partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Edit a Category</title>
</head>
<body>
    <%- include('../partials/header-navbar.ejs') %>
    <h2>Edit Category: <%= category.name %></h2>
    <form action='/categories/<%= category._id %>?_method=PUT' method='POST'>
        <p>Name: <input type='text' name='name' value='<%= category.name %>' /></p>
        <p>Description: <textarea type= 'text' name='description' value='<%= category.description %>' ></textarea></p>
        <input type='submit' value='Save Changes' />
    </form>
    <form action="/categories/<%= category._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Category" />
    </form>
    <h2>Available Tools:</h2>
    <ul class="edit-tools">
        <% category.tools.forEach(tool => { %>
            <li class='tool'>
                <a href='<%= tool.link %>' target='_blank'><%= tool.name %></a>
            </li>
        <% }); %>
        <% if(category.tools.length === 0) { %>
            <p>There are no tools available yet!</p>
        <% } %>
        <li class="add-tool">
            <a href="/tools/newTool">+</a>
        </li>
    </ul>
</body>
</html>