<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Edit a Category</title>
</head>
<body>
    <div class="display-area">
        <%- include('../partials/header-navbar.ejs') %>
        <section class="corkboard">
            <div class="postit-container">
                <img src="/images/row-postits.png" class='postit-image' />
                <h2>Edit "<%= category.name %>"</h2>
            </div>
            <div class="form-container">
                <form action='/categories/<%= category._id %>?_method=PUT' method='POST' class='form'>
                    <p>
                        Name: <input type='text' name='name' value='<%= category.name %>' required />
                    </p>
                    <p>
                        Description: <textarea type= 'text' name='description' ><%= category.description %></textarea>
                    </p>
                    <p>
                        <input type='submit' value='Save Changes' class='submit-button' />
                    </p>
                    <p>
                        <form action="/categories/<%= category._id %>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete Category" class='submit-button' />
                        </form>
                    </p>
                </form>
            
                <div class="avail-tools-container">
                    <div class='available-tools'>                
                        <h3 id='available-tools-label'>Available Tools:
                            <div class="plus-container">
                                <span class='plus-tool' title="Add a tool.">
                                    <a href="/tools/newTool/<%=category._id%>" class='list-item-content'>
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </span>
                            </div>
                        </h3>
                    </div>
                    <ul class="edit-tools">
                        <% category.tools.forEach(tool => { %>
                            <div class="li-container avail-tools-list">
                                <li class='tool list-item'>
                                    <a href='<%= tool.link %>' target='_blank' class='list-item-content tool-name'><%= tool.name %>:
                                    </a>
                                    <span class="tool-description">
                                        <%= tool.description %>
                                    </span>
                                    <div class='pencil edit-tool' title="Edit this tool.">
                                        <a href="/tools/<%=tool._id%>/edit" class='list-item-content'><i class="fas fa-edit"></i></a>
                                    </div>
                                    <form action="/tools/<%=tool._id%>?_method=DELETE" method="POST">
                                        <label for="delete-button">
                                            <i class="fas fa-trash-alt" title="Delete this tool."></i>
                                        </label>
                                        <input type="submit" class='list-item-content delete-button' id='delete-button' />
                                    </form>
                                </li>
                            <% }); %>
                            <% if(category.tools.length === 0) { %>
                                <li class="tool list-item">
                                    There are no tools available yet!
                                </li>
                            <% } %>
                            </div>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
