<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="/scripts/app.js" defer></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="/scripts/tool-reorder.js" defer></script>
    <title>Toolodex</title>
</head>
<body>
    <div class='display-area'>
        <%- include('../partials/header-navbar.ejs') %>
        <section class='corkboard'>
            <div class="postit-container">
                <img src="/images/row-postits.png" class='postit-image' />
                <a href="/users/<%=user._id%>">
                    <h2 class='variable-heading' title='Learn more about <%= user.username %>.'>
                        <%= user.username %>'s Categories
                    </h2>                
                </a>
            </div>
            <div class='post-its'>
                <% user.categories.forEach((category, index) => { %>
                    <a href="/categories/<%= category._id %>" class='category-name tile-link dragit tile<%=index%> arrange<%=index%>' style="order: <%=index%>">
                        <div class="category tile" title='<%= category.description %>'>
                            <%= category.name %>
                        </div>
                    </a>
                <% }); %>
                <a href="/categories/new" class="tile-link" style="order: 1000">
                    <div class="add-category tile">
                        <i class="fas fa-plus"></i>
                    </div>
                </a>
            </div>
        </section>
    </div>
</body>
</html>
