<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Explore Your Category</title>
</head>
<body>
    <div class="display-area">
        <section class='header'>
            <%- include('../partials/header-navbar.ejs') %>
        </section>
        <section class='corkboard'>
            <h2><%= category.name %> Tools:</h2>
            <div class='edit-category'>
                <a href="/categories/<%= category._id %>/edit">Edit Category</a>
                <!-- TODO <i class="fas fa-edit"></i> USE THIS TO REPLACE EDIT CATEGORY TEXT ABOVE -->    
            </div>
            <div class='post-its'>
                <% category.tools.forEach(tool => { %>
                    <a href='<%= tool.link %>' target='_blank'>
                        <div class='tool tile'>
                            <%= tool.name %>
                        </div>
                    </a>
                <% }); %>
                <% if(category.tools.length === 0) { %>
                    <p>There are no tools available yet!</p>
                <% } %>
                <a href="/tools/newTool">
                    <div class="add-tool tile">
                        +
                    </div>
                </a>
            </div>
        </section>
    </div>  
</body>
</html>
