<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Edit a User</title>
</head>
<body>
    <div class="display-area">
        <%- include('../partials/header-navbar.ejs') %>
        <section class="corkboard">
            <div class="postit-container">
                <img src="/images/row-postits.png" class='postit-image' />
                <a href="/users/<%=oneUser._id%>">
                    <h2>
                        Edit <%= oneUser.username %>'s Info
                    </h2>                
                </a>
            </div>
            <div class="form-container">
                <form action="/users/<%=oneUser._id%>?_method=PUT"  method="post" class='form'>
                    <p>
                        Username: <input type="text" name="username" value="<%=oneUser.username%>" />
                    </p>
                    <p>
                        Email: <input type="email" name="email" value="<%=oneUser.email%>" />
                    </p>
                    <p>
                        Location: <select name="location">
                            <% for(eachState of statesArray) { %> 
                                <option 
                                    <%if(eachState == oneUser.location){%>
                                        selected="selected"
                                    <% } %>
                                    value="<%=eachState%>"><%=eachState%>
                                </option>
                            <% } %> 
                        </select>
                    </p>
                    <p>
                        <input type="submit" value="Apply Changes" class='submit-button' />
                    </p>
                </form>
            </div>
        </section>
    </div>
</body>
</html>
