<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Edit User</title>
</head>
<body>
    <%- include('../partials/header-navbar.ejs') %>
    <h2>Edit a User</h2>
    <form action="/users/<%=oneUser._id%>?_method=PUT"  method="post">
        Name: <input type="text" name="name" value=<%=oneUser.name%>><br>
        Location: <input type="text" name="location" value=<%=oneUser.location%>><br>
        Political Affiliation: <input type="text" name="politicalAffiliation" value=<%=oneUser.politicalAffiliation%>><br>
        <!-- Email: <input type="text" name="email"> -->
        <input type="submit" value="Apply Changes">
    </form>
    <%- include('../partials/testfooter.ejs'); %>
</body>
</html>
