<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/app.js" defer></script>
    <%- include('../partials/external-imports.ejs') %>
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Show User</title>
</head>
<body>
    <nav>
        <%- include('../partials/header-navbar.ejs') %>
        <form action="/logout?_method=DELETE" method="post" value=''>
            <input type="submit" value="Logout" id='logout'>
        </form>
    </nav>
    <h2>Show User</h2>
    Userame: <%= oneUser.username %> <br>
    Location: <%= oneUser.location %> <br>
    Political Affiliation: <%= oneUser.politicalAffiliation %> <br>
    Categories:
        <br>
        <% for(eachCat of userCats){ %> 
            <ul>
                <%= eachCat.name %> 
                <% for(eachTool of eachCat.tools){ %> 
                    <li>
                        <%= eachTool.name %> 
                        <a href="/tools/steal/<%=eachTool._id%>/<%=oneUser._id%>"  >--steal it!</a>
                    </li>
                <% } %> 
            </ul>
            <br>
        <% } %> 
    <br>
    Friends: <ul>
        <% for(eachFriend of allFriends){ %> 
            <li>
                <a href="/users/<%=eachFriend._id%>"><%=eachFriend.name%></a>
            </li>
        <% } %> 
    </ul>

    <br>
    <form action="/users/<%=oneUser._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DESTROY">
    </form>
    <br>
    <a href="/users/<%=oneUser._id%>/edit">Edit</a>
    <br>
    <%- include('../partials/testfooter.ejs'); %>
</body>
</html>
